@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  padding: 2rem 0;
  font-size: 2rem;
  color: #000000;
  font-weight: 400;
  line-height: initial;
  text-align: left;
}
@media (min-width: 640px) {
  h1 {
    font-size: 2rem;
    color: #000000;
    font-weight: 400;
    line-height: initial;
    padding: 2rem 0 5rem 0;
  }
}

h2 {
  font-size: 1.2rem;
  color: #000000;
  font-weight: 400;
  line-height: initial;
  text-align: left;
}

.h2 {
  font-size: 1.2rem;
  color: #000000;
  font-weight: 400;
  line-height: initial;
  text-align: left;
}

a {
  color: #000000;
}
a :hover {
  color: #000000;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: white;
  border-bottom: 1px solid #000;
  text-transform: uppercase;
}
@media (min-width: 640px) {
  header {
    padding: 0 25px;
  }
}
header .main-logo {
  font-weight: 500;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.menu .fas {
  padding-right: 5px;
  position: relative;
  bottom: 2px;
}

#bag {
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#products-grid {
  display: flex;
  flex-direction: row;
  padding: 0 5px;
  width: 80%;
  margin: 8rem auto;
}
@media (min-width: 640px) {
  #products-grid {
    padding: 0 25px;
  }
}
#products-grid .prev-card {
  padding: 0 0 2rem 0;
  border: 1px solid #000;
}
#products-grid .prev-card img {
  width: 100%;
}
#products-grid .prev-card .subsection-card {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 20px 40px 0 40px;
}

#back-link {
  display: none;
}

#order-info .left-side h2 {
  margin-bottom: 1.5rem;
}
#order-info .left-side form {
  margin-bottom: 2rem;
}

#back-link {
  padding-left: 25px;
  display: flex;
  flex-direction: row;
}
#back-link p {
  padding-left: 20px;
}

.form-group label {
  margin-bottom: 1rem;
}

.form-control {
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0;
  border: 1px solid #EAEAEA;
}

#cart-items .item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}
#cart-items .item img {
  width: 25%;
}
#cart-items .item .item__name-lenses {
  width: 41.68%;
  padding-left: 20px;
}
#cart-items .item .item__qty {
  width: 16.66%;
  text-align: right;
}
#cart-items .item .item__price {
  width: 16.66%;
  text-align: right;
}

.bottom-buttons {
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
}
.bottom-buttons div {
  width: 100%;
}

.subtotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shipping-text {
  margin-top: 2rem;
}

#total {
  padding: 2rem 0;
}

#confirmation h1 {
  font-size: 5rem;
}
#confirmation a {
  margin-top: 2rem;
}

#error {
  color: red;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  padding-top: 5.5rem;
  border-top: 1px solid #000000;
}

.main-block {
  display: flex;
  width: 70%;
  margin: 8rem auto;
}

.btn-lg-vic {
  text-align: center;
  max-width: 300px;
  border: 1px solid #000000;
  border-radius: 0;
  width: 100%;
  font-size: 1rem;
}

.select-vic {
  text-align: center;
  max-width: 300px;
  border: 1px solid #000000;
  border-radius: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  height: 49px;
}

#head {
  padding-left: 10%;
}

.head-title {
  margin-top: 2rem;
}

#add-to-cart {
  background: #000000;
  color: #ffffff;
}

.full-btn {
  text-align: center;
  border: 1px solid #000000;
  border-radius: 0;
  width: 100%;
  font-size: 1rem;
  padding: 0.7rem 1rem;
}

.large-btn {
  text-align: center;
  border: 1px solid #000000;
  border-radius: 0;
  max-width: 200px;
  width: 100%;
  font-size: 1rem;
  padding: 0.7rem 1rem;
}

/*# sourceMappingURL=checkout.css.map */
