.info-shipping-block {
    padding:0 50px;
    ul {
        padding-bottom:1rem;
        li:first-child {
            font-weight: 600;
        }
        li {
            list-style: none;
        }
    }
}

.cart-empty {
    display:flex;
}

#cart-items {
    padding-left:0;
    padding-right:0;
}

#checkout {
    padding-top: 3rem;
    padding-left: 0;
    padding-right: 0;
    @include flex(column, false, flex-end);
}

.item {
    @include flex(row, center);
    border: 1px solid #000000;
    
    &__image {
        width:25%;
    }
    &__name-lenses {
        padding-left: 40px;
        width:25%;
    }
    &__qty {
        text-align: right;
        width:25%;
    }
    &__price {
        text-align: right;
        width:25%;
        padding-right: 40px;
    }
}

#back-link {
    padding-left: 25px;
    @include flex(row);
    p {
        padding-left:20px;
    }
}

.item-minus {
    width: 30px;
    height: 30px;
    border: none;
    margin-right: 10px;
}

.item-plus {
    width: 30px;
    height: 30px;
    border: none;
    margin-left: 10px;
}

.subtotal {
    @include flex(row, false, space-between);
    padding: 0 40px;
}

.shipping-text {
    margin-top:2rem;
    padding: 0 40px;
}

#procced-checking {
    background: $black;
    color: $white;
}

.bottom-buttons {
    @include flex(row);
    padding-top:3rem;
    div {
        width:50%;
    }
}