body {
    font-family: $font-family;
}

main {
    padding-top:5rem;
}

.btn-lg-vic {
    text-align: center;
    max-width: 250px;
    border: 1px solid #000000;
    border-radius: 0;
    width: 100%;
}

.select-vic {
    max-width:250px;
    width:100%;
    margin-right: 20px;
}