body {
    font-family: $font-family;
}

main {
    padding-top:5.5rem;
    border-top: 1px solid #000000;
}


.main-block {
    display: flex;
    width: 70%;
    margin: 8rem auto;
}

.btn-lg-vic {
    text-align: center;
    max-width: 300px;
    border: 1px solid #000000;
    border-radius: 0;
    width: 100%;
    font-size: 1rem;
}

.select-vic {
    text-align: center;
    max-width: 300px;
    border: 1px solid #000000;
    border-radius: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    height: 49px;
}

#head {
    padding-left:10%;
}

.head-title {
    margin-top: 2rem;
}

#add-to-cart {
    background: $black;
    color: $white;
}

.full-btn {
    text-align: center;
    border: 1px solid #000000;
    border-radius: 0;
    width: 100%;
    font-size: 1rem;
    padding:0.7rem 1rem;
}

.large-btn {
    text-align: center;
    border: 1px solid #000000;
    border-radius: 0;
    max-width: 200px;
    width: 100%;
    font-size: 1rem;
    padding: 0.7rem 1rem;
}